.content {
  grid-area: content;
  /* background: url(images/background-shapes.png); */
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(
    to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 203, 1),
    rgba(130, 125, 253, 1)
  );
  justify-content: center;
}

.content,
.sidebar {
  padding: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav li {
  list-style: none;
  padding: 1em 0;
}

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  opacity: 1;
}

.active-nav {
  color: #9e0059;
}

@media (min-width: 1040px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebar {
    background: linear-gradient(
      rgba(249, 107, 142, 1),
      rgba(218, 103, 230, 1),
      rgba(130, 125, 254, 1)
    );
    padding-top: 3em;
  }
}
